nav.navbar {
	background-color: #409665;
}


body.ethefux .navbar a.nav-link {
	color: #030303;

}

body.ethefux .navbar a.nav-link:hover {
	color: #f2ede6;
	transition: 0.2s;
}

.ethefux .container {
	position: relative;
	top: 60px;
}

body.ethefux {
	background-color: #f2ede6;	
}