nav.navbar {
	background-color: #409665;
}

body.ethefux a.navbar-brand {
	margin-left: 8.5%;
}

body.ethefux .navbar a.nav-link {
	color: #030303;

}

body.ethefux .navbar a.nav-link:hover {
	color: #f2f2f2;
	transition: 0.2s;
}

.ethefux .container {
	position: relative;
	top: 60px;

}

body.ethefux {
	background-color: #ffffff;	
}

input.form-control {
	margin: 10px 0;
}

body.ethefux #register_form {
	position: relative;
	bottom: 50px;
}

body.ethefux button:hover, body.ethefux .btn:hover {
	cursor: pointer;
}