<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
    Account
{% endblock %}

{% block body_block %}
    <h1>Your Account Information</h1>
    <br />
    {% if user.is_authenticated %}
        Name: {{ user.user_profile.name }} <br>
        Email: {{ user.email }} <br>
        Home address: {{ user.user_profile.home_address }} <br>
        ID: <a href="/media/{{ user.user_profile.identification }}">{{ user.user_profile.identification }}</a> <br>
    {% else %}
        You really shouldn't be able to see this lolololol
    {% endif %}
    <br />
	<form method="get" action="{% url 'registration:user_update' %}">
		<button type="submit" class="btn btn-lg btn-block btn-secondary">Update your profile</button>
	</form>
{% endblock %}
