<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
    Account
{% endblock %}

{% block body_block %}
    <h1>Your Account</h1>
    <br />

    <h3>Your Information</h3>
    {% if user.is_authenticated %}
        Name: {{ user.name }} <br>
        Username: {{ user.username }} <br>
        Email: {{ user.email }} <br>
        ID: {{ user.identification }} <br>
        Home address: {{ user.home_address }} <br>
    {% else %}
        You really shouldn't be able to see this lolololol
    {% endif %}
    <br />
	<form method="get" action="{% url 'registration:user_update' %}">
		<button type="submit" id="i" class="btn btn-lg btn-block btn-secondary">Update your profile</button>
	</form>
{% endblock %}
