<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
    Dashboard
{% endblock %}

{% block body_block %}
    <h1>Dashboard</h1>
    <br />

    <h3>Credit Score</h3>
    <h5>Your credit score:</h5>
    <br />

    <h3>Current Contracts</h3>
    <h5>Your current contracts:</h5>
    <h5><i>These are contracts you are currently in</i></h5>
    <br />
    <h3>Total Contracts</h3>
    <h5>Your total contracts:</h5>
    <h5><i>This how many contracts you have entered in total</i></h5>
    <br />

    <h3>Red loans</h3>
    <h5><i>These are loans that you have not yet paid this month</i></h5>
    <br />
    <h3>Green loans</h3>
    <h5><i>These are loans that you already paid this month</i></h5>
    <br />

{% endblock %}
