<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
    Dashboard
{% endblock %}

{% block body_block %}
    <h1>Dashboard</h1>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Credit Score</h3>
                    <p>{{ credit_score }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Total Contracts</h3>
                    <p>{{ total_contracts }}</p>
                </div>
            </div>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-6">
            <a href="{% url 'ethefux_app:propose_contract' %}" role="button" class="btn btn-lg btn-secondary pull-right">Lend</a>
        </div>
        <div class="col-md-6">
            <a href="{% url 'ethefux_app:request_contract' %}" role="button" class="btn btn-lg btn-secondary">Borrow</a>
        </div>
    </div>

    <br/>

    {% if proposed_contracts %}
        <h3>Proposed Contracts</h3>
        <h5>Contracts that you have proposed, and those that have been proposed to you.</h5>
        {% if proposed_contracts.lend %}
        <p>Lending</p>
        {% for contract in proposed_contracts.lend %}
            <div class="alert alert-warning contract" role="alert">

                <h4 class="alert-heading">{{ contract.party.user.username }}</h4>
                <ul>
                    <li>Amount: {{ contract.amount }}</li>
                    <li>Duration: {{ contract.duration }} months.</li>
                    <li>Interest: {{ contract.interest_rate }}% per month.</li>
                </ul>

                {% if contract.confirm %}
                    <a type="submit" value="Accept" class="btn pull-right btn-secondary accept-contract">Accept</a>
                {% else %}
                    Awaiting Confirmation
                {% endif %}
            </div>
        {% endfor %}
        {% endif %}

        {% if proposed_contracts.borrow %}
            <p>Borrowing</p>
            {% for contract in proposed_contracts.borrow %}
                <div class="alert alert-warning contract" role="alert">
                    <h4 class="alert-heading">{{ contract.party.user.username }}</h4>
                    <ul>
                        <li>Amount: {{ contract.amount }}</li>
                        <li>Duration: {{ contract.duration }} months.</li>
                        <li>Interest: {{ contract.interest_rate}}% per month.</li>
                    </ul>
                    {% if contract.confirm %}
                        <a type="submit" value="Accept" class="btn pull-right btn-secondary accept-contract">Accept</a>
                    {% else %}
                        Awaiting Confirmation
                    {% endif %}
                </div>
            {% endfor %}

        {% endif %}
    {% endif %}

    {% if current_loans %}
    <div>
        <h3>Current Loans</h3>
        <p>Loans you have taken out.</p>

        {% if current_loans.red %}
            <h3>Red loans</h3>
            <h5><i>These are loans that you have not yet paid this month</i></h5>
            {% for contract in current_loans.red %}
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading">{{ contract.lender }}</h4>
                    <p>Amount due this month: {{ contract.due }}</p>
                    <ul>
                        <li>Amount: {{ contract.amount }}</li>
                        <li>Duration: {{ contract.duration }} months.</li>
                        <li>Interest: {{ contract.interest}}% per month.</li>
                    </ul>
                    <button type="button" class="btn btn-sm" aria-label="Pay">
                        <span aria-hidden="true">Pay</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}

        {% if current_loans.green %}
            <h3>Green loans</h3>
            <h5><i>These are loans that you already paid this month</i></h5>

            {% for contract in current_loans.green %}
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">{{ contract.lender }}</h4>
                    <ul>
                        <li>Amount: {{ contract.amount }}</li>
                        <li>Duration: {{ contract.duration }} months.</li>
                        <li>Interest: {{ contract.interest}}% per month.</li>
                    </ul>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    {% endif %}

    {% if current_lends %}
    <div class="row">
        <h3>Current Lends</h3>
        <h5>Loans you are currently lending to borrowers</h5>
        {% for contract in current_lends %}
            <div class="alert alert-info" role="alert">
                <h4 class="alert-heading">{{ contract.borrower }}</h4>
                <ul>
                    <li>Amount: {{ contract.amount }}</li>
                    <li>Duration: {{ contract.duration }} months.</li>
                    <li>Interest: {{ contract.interest}}% per month.</li>
                </ul>
            </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}
