{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}

{% endblock %}

{% block title_block %}
	Login
{% endblock %}

{% block body_block %}
    <div class="container">

      <form class="form-signin" method="post" action="{% url 'registration:user_login' %}">
	    {% csrf_token %} 
        <h2 class="form-signin-heading">Login to Ethefux</h2>
        
			{% for field in form %}
				<div class="fieldWrapper">
					{{ field.errors }}
					{{ field }}
					{% if field.help_text %}
					<p class="help">{{ field.help_text|safe }}</p>
					{% endif %}
				</div>
			{% endfor %}

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div>


{% endblock %}
