{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
<link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet">
{% endblock %}

{% block title_block %}
	Login
{% endblock %}

{% block body_block %}
    <div class="container">

      <form class="form-signin" method="post" action="{% url 'registration:user_login' %}">
        <h2 class="form-signin-heading">Login to Ethefux</h2>
        <br>
		<label for="inputEmail" class="sr-only">Email</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

		<label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
		<br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div>


{% endblock %}
