{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
	Register
{% endblock %}

{% block body_block %}
	<h1>About Page</h1>
	{% if registered %}
		<strong>Thank you for registering.</strong>
		<a href="{% url 'ethefux_app:index' %}">Return to the homepage.</a><br />
	{% else %}
		<strong>Register here.</strong><br />
		<form id="registration_form" method="post" action="{% url 'registration:user_register' %}"
			enctype="multipart/form-data">

		{% csrf_token %}

                <!-- Display form -->
                {{ RegistrationForm.as_p }}

		<!-- Provide a button to click to submit the form. -->
		<input type="submit" name="submit" value="Register" />
	</form>
	{% endif %}
{% endblock %}
