{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
	Register
{% endblock %}

{% block body_block %}
	
	<div class="container">
	
		{% if registered %}
			<strong>Thank you for registering.</strong>
			<a href="{% url 'ethefux_app:index' %}">Return to the homepage.</a><br />
		{% else %}
			<form id="register_form" class="form-signin" method="post" action="{% url 'registration:user_register' %}">
				<h2 class="form-signin-heading">Register to Ethefux</h2>
			
				{% csrf_token %}
				{{ register_form.errors }}
				<input placeholder="Name" class="form-control" type="text" name="name" value="" size="50" required autofocus/>	
                <input placeholder="Email" class="form-control" type="text" name="email" value="" size="50" required/>
				<input placeholder="Password" id="inputPassword" class="form-control" type="password" name="password" value="" size="50" required/>
				<input placeholder="Confirm password" id="inputPassword" class="form-control" type="password" name="password_confirm" value="" size="50" required/>
                <input placeholder="Home Address" class="form-control" type="text" name="home_address" value="" size="50" required/>
				
				<!-- Provide a button to click to submit the form. -->
				<input class="btn btn-lg btn-primary btn-block" type="submit" name="submit" value="Register" />
			</form>
		{% endif %}
		
	</div>
{% endblock %}
